<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" href=" /images/weather.png">
    <link rel="stylesheet" href="./css/main.css">
    <title>Node Js</title>
</head>

<body>
    <div class="main-content">
        {{>header}}
<h2>Check weather of Your current location</h2>
        <form id="search-form">
            <input type="text" placeholder="Location">
            <button id="searchbtn" type="submit">Search</button>


        </form>
<p id="forecast"></p>
<p  id="error"></p>

    
    </div>
    


    {{>footer}}
    <script src="./js/app.js"></script>
</body>

</html>