body{
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:#333333;
    max-width:650px;
    margin:0 auto;
    padding: 0 16px;
    display:flex;
    flex-direction: column;
    min-height: 100vh;
    box-shadow: 0px 0px 2px 1px #ccc;
    background: url(../images/img-sky.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.main-content{
    flex-grow: 1 ;
}

h1{
     font-size: 64px;
     margin-bottom: 16px;
}

.img{
    width:250px;
}

footer{
    color:#888888;
    border-top:1px solid #cccccc;
    margin-top:16px;
    padding: 16px 0;
    
}

header{
    
    margin-top:16px;
    padding: 0;
    margin-bottom:48px;


}

header a{
    color:#888888;
    margin-right:16px;
    text-decoration: none;
    background: black;
}

.nav{
     background: black;
}

#search-form{
    margin:0 40%;
    width: 400px;
    border: 2px solid black;
    transform: translate(-40%);
    padding:16px;
    
    
}
input{
 width:400px;
 height: 6vh;
 outline-color: grey;
 border-radius: 3px;
 border: none;
}


#forecast{
    color:white;
}








@keyframes rotation{
    from{
        transform:rotate(0deg)
    }
    to{
        transform:rotate(360deg)
    }
}